body{
    background-color:#CCC;
}

.canvasContainer {
    position: relative;
    width:800px;
    height:800px;
}

.canvasContainer > canvas {
    position: absolute;
}

.nodeProperty {
    cursor: pointer;
}

.selected {
    background-color:#CCC;
}

.scrollTable {
    max-height:190px;
    overflow-y:scroll;
}

.col-fixed-800{
    width:800px;
    position:fixed;
    height:100%;
}

.col-offset-800 {
    padding-left:815px !important;
}

#rdbStreams > input {
    margin:5px;
}

#rdbStreams {
    margin-top: -20px;
}