body{
    background-color:#CCC;
}

.left {
    float:left;
}

.right {
}

.rightcontainer {

}

.canvasContainer {
    position: relative;
    width:800px;
    height:800px;
}

.canvasContainer > canvas {
    position: absolute;
}

.nodeProperty {
    cursor: pointer;
}

.selected {
    background-color:#CCC;
}

.scrollTable {
    max-height:250px;
    overflow-y:scroll;
}