body{
    background-color:#CCC;
}

.canvasContainer {
    position: relative;
    width:800px;
    height:800px;
}

.canvasContainer > canvas {
    position: absolute;
}

.nodeProperty {
    cursor: pointer;
}

.selected {
    background-color:#CCC;
}

.scrollTable {
    max-height:190px;
    overflow-y:scroll;
}

.scrollTable th {
    padding:2px !important;
    cursor: pointer;
}

.scrollTable td {
    padding:2px !important;
}

.col-fixed-800{
    width:800px;
    position:fixed;
    height:100%;
}

.col-offset-800 {
    padding-left:815px !important;
}

#rdbStreams > input {
    margin:5px;
}

#rdbStreams {
    margin-top: -20px;
}

.valueup {
    background-position: center left;
    background-image: url('/images/arrow_up.png');
    background-repeat: no-repeat;
    padding-left:15px;
}

.valuedown {
    background-position: center left;
    background-image: url('/images/arrow_down.png');
    background-repeat: no-repeat;
    padding-left:15px;
}