<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="simulation" value="/usr/local/src/802.11ah-ns3/simulations/simulation.sh" />
   <!-- <add key="maxParallel" value="23" /> -->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISimulationHost" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:12345/SimulationHost/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISimulationHost" contract="HostProxy.ISimulationHost"
        name="BasicHttpBinding_ISimulationHost" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SimulationBuilder.SimulationHost">
        <endpoint address="" binding="basicHttpBinding" contract="SimulationBuilder.ISimulationHost">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12345/SimulationHost/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>